<div class="hand hhand">
  <img src="/assets/cards/AS.svg">
  <img class='card' src='images/cards/AS.svg'>
  <img class='card' src='images/cards/KS.svg'>
  <img class='card' src='images/cards/QS.svg'>
  <img class='card' src='images/cards/JS.svg'>
  <img class='card' src='images/cards/10S.svg'>
  <img class='card' src='images/cards/9H.svg'>
  <img class='card' src='images/cards/3H.svg'>
</div>